<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Template</title>
        <link href="/resourses/css/bootstrap.min.css" rel="stylesheet">
        <link href="/resourses/css/cover.css" rel="stylesheet">
    </head>
    <body>
        <%- meta_body -%>
        <script src="/resourses/js/jquery.min.js"></script>
        <script src="/resourses/js/bootstrap.min.js"></script>
    </body>
</html>