<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Payout no <%=payout._id%></h1>
        wallet no: <%=payout.account.no%><br>
        payout amount: <%=payout.amount%><br>
        payment time: <%=payout.time%><br>
    </body>
</html>
