<% layout('layout') -%>

<div class="inner cover">
        <h3 class="text-success">Success</h3>
    <div class="panel panel-default">
        <div class="panel-title">
            <h3>Payout № <%=payout._id%></h3>
        </div>
        <div class="panel-body text-left">
            <strong>Wallet no:</strong> <%=payout.account.no%><br>
            <strong>Amount:</strong> <%=payout.amount%><br>
            <strong>Time:</strong> <%=new Date(payout.time)%><br>
        </div>
    </div>
</div>
